[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gdown = "*"
jupyter = "*"
keras = "*"
kora = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
requests = "*"
scikit-image = "*"
sklearn = "*"
tqdm = "*"
wandb = "*"
# tensorflow-macos = "*"
tensorflow = "*"
pyngrok = "*"
flask-ngrok = "*"

[dev-packages]

[requires]
python_version = "3.9"
